.game_box {
    height: 500px;
}

.welcome_page h1 {
    width: 350px;
    margin: 0px auto !important;
    margin-bottom: 40px !important;
    text-shadow: 0px 5px 5px rgb(223, 26, 137);
    animation-name: welcome;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes welcome {
    from {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.welcome_page h1:hover {
    animation-name: text_movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    cursor: pointer;
}


@keyframes text_movement {
    from {
        transform: rotate(-20deg);
        transform: skew(20deg);
    }

    to {
        transform: skewY(10deg);
    }
}

.check_btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.check_btn:disabled {
    cursor: no-drop
}


.overly {
    opacity: 0.3;
    background: rgba(172, 167, 167, 0.35);
    filter: blur(1px);
}


.disabled {
    cursor: no-drop;
    pointer-events: not-allowed;
}

body>button {
    position: absolute;
    left: 30px;
    top: 30px;
}


.winningMessage {
    color: white;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 900px;
}

.score_result p:nth-child(2),
p:nth-child(3) {
    font-weight: 600;
}